<div class="footer">
  <ul class="footer-inner">
      <%= footer_item "About us", about_path %>
    <li class="footer-item footer-copyright">
      &copy; 2011-<%= DateTime.now.year %> Factlink
    </li>
  </ul>
</div>
