<div class="footer">
  <ul class="footer-inner">
      <%= footer_item "About us", about_path %>
      <%= footer_item "Privacy", privacy_path %>
      <%= footer_item "Terms of service", terms_of_service_path %>
    <li class="footer-item footer-copyright">
      &copy; 2014<%= "#{-DateTime.now.year}" unless DateTime.now.year == 2014 %> Kennisland
    </li>
  </ul>
</div>
