.feed-selection-row {
  @extend %clearfix;
  margin: 0.5em 0 1.5em;
  position: relative;
}

.feed-group-controls {
  margin-top: 10px;
  float: right;
}

.feed-group-controls a {
  margin-left: 10px;
}
